# Saving Data to CSV and Excel

In [1]:
import bs4
import urllib.request
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import csv

In [2]:
filename = 'music.csv'
f = open(filename, 'w', newline = '')
music = csv.writer(f)


html = urlopen('https://en.wikipedia.org/wiki/List_of_largest_recorded_music_markets#IFPI_2017_data')
bsobj = soup(html.read())
tbody = bsobj('table', {'class':'wikitable plainrowheaders sortable'})[0].findAll('tr')
tbody

xl = []
for row in tbody:
    cols = row.findChildren(recursive = False)
    cols = [element.text.strip() for element in cols]
    music.writerow(cols)
    xl.append(cols)
    print(cols)

['Ranking', 'Market', 'Retail value  US $ (millions)', 'Streaming', 'Physical', 'Digital', 'Performance Rights', 'Synchronization']
['1', 'United States', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['2', 'Japan', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['3', 'United Kingdom', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['4', 'Germany', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['5', 'France', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['6', 'South Korea', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['7', 'China', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['8', 'Canada', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['9', 'Australia', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['10', 'Netherlands', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a', 'n/a']
['', 'Global total', '21,600', '13,400', '4,200', '1,200', '2,300', '400']

In [3]:
import os
os.getcwd()

'C:\\Users\\dell'

In [4]:
import pandas as pd
df = pd.DataFrame(data = xl)
df

,0,1,2,3,4,5,6,7
0,Ranking,Market,Retail value US $ (millions),Streaming,Physical,Digital,Performance Rights,Synchronization
1,1,United States,n/a,n/a,n/a,n/a,n/a,n/a
2,2,Japan,n/a,n/a,n/a,n/a,n/a,n/a
3,3,United Kingdom,n/a,n/a,n/a,n/a,n/a,n/a
4,4,Germany,n/a,n/a,n/a,n/a,n/a,n/a
5,5,France,n/a,n/a,n/a,n/a,n/a,n/a
6,6,South Korea,n/a,n/a,n/a,n/a,n/a,n/a
7,7,China,n/a,n/a,n/a,n/a,n/a,n/a
8,8,Canada,n/a,n/a,n/a,n/a,n/a,n/a
9,9,Australia,n/a,n/a,n/a,n/a,n/a,n/a
10,10,Netherlands,n/a,n/a,n/a,n/a,n/a,n/a
11,,Global total,"21,600","13,400","4,200","1,200","2,300",400

In [5]:
df.to_excel('world_music.xlsx', index=False,header = False)
print('Spreadsheet saved.')

Spreadsheet saved.